---
import Layout from "@/layouts/Layout.astro"

import DynamicIcon from "@/components/DynamicIcon"
import Header from "@/components/Header.astro"
import Start from "@/components/Start"
import games from "@/data/games.json"
import { Users } from "lucide-react"

export function getStaticPaths() {
  return games.map((conf) => ({
    params: { game: conf.path },
    props: { conf },
  }))
}

const { conf } = Astro.props
---

<Layout>
  <Header back />
  <div
    class="mx-auto mt-8 flex w-fit items-center justify-center gap-3 border-b-4 pb-1"
  >
    <DynamicIcon name={conf.icon} size={28} />
    <span class="text-2xl font-medium">{conf.name}</span>
  </div>
  <div
    class="text-muted-foreground flex items-center justify-center gap-2 py-5 text-sm"
  >
    <Users size={18} /> 适合{`${conf.min}-${conf.max}人`}
  </div>
  <Start conf={conf} client:load />
</Layout>
